<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments :: head}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header th:replace="~{fragments :: navbar}"></header>
    <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2215x2048/5fa9c73355b096b1e1786af0510a6fc4/photo-1481627834876-b7833e8f5570.webp"
        alt="Image" class="img-fluid w-100 object-fit-cover" style="height: 100vh;">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card shadow-lg p-4">
            <div class="card-body d-flex flex-column gap-4">
                <div class="d-flex flex-column gap-2">
                    <h3 class="mb-3 h1 text-center" style="color: rgb(103, 75, 29);">About Libridex</h3>
                    <hr>
                    <p class="text-secondary">Libridex is a leading online platform dedicated to connecting book lovers
                        with a vast collection of books from various genres. Our mission is to foster a love for reading
                        and make books accessible to everyone.</p>
                    <p class="text-secondary">Founded in 2024, Libridex has quickly grown to become a trusted name in
                        the book community, offering a seamless and enjoyable experience for readers and authors alike.
                    </p>
                    <p class="text-secondary">Join us on our journey to explore the world of books and discover your
                        next great read with Libridex.</p>
                </div>
                <div>
                    <span class="fw-semibold text-dark">Contact Us: info@libridex.com</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>