<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments :: head}"></head>
<style>
    .hovercard {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .hovercard:hover {
        transform: translateY(-6px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }

    a {
        text-decoration: none;
    }

    .scrollable-container {
        max-height: 30vh;
        overflow-y: auto;
    }
</style>
<body>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    <header th:replace="~{fragments :: navbar}"></header>
    <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2215x2048/5fa9c73355b096b1e1786af0510a6fc4/photo-1481627834876-b7833e8f5570.webp"
        alt="Image" class="img-fluid w-100 object-fit-cover" style="height: 25vh;">
    <div class="container text-center mt-5 mb-5">
        <div class="alert alert-info" th:if= "${success != null}" th:text="${success}"></div>
        <h1 style="color: rgb(103, 75, 29);">Lending History</h1>
        <hr class="border-black border-2">
        <div class="mb-5">
            <table id="usersTable" class="table table-striped table-bordered" th:if= "${!lendings.isEmpty()}">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Book Title</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="lending : ${lendings}">
                        <td th:text="${lending.user.name}"></td>
                        <td th:text="${lending.book.title}"></td>
                        <td th:text="${lending.startDate}"></td>
                        <td th:text="${lending.endDate != null ? lending.endDate : 'Ongoing'}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 style="color: rgb(103, 75, 29);">Select a book to view its specific lending history:</h2>
        <hr class="border-black border-2">
        <!-- Search Bar -->
        <div class="input-group mb-3">
            <input type="text" id="book_search_input" class="form-control" placeholder="Search for a specific book" th:value="${searchString}">
            <button class="btn btn-outline-secondary" type="button" id="btn_search_book">Search</button>
        </div>
        <ul class="list-group scrollable-container">
            <li th:each="entry : ${mostLentBooks}"
                class="list-group-item d-flex justify-content-between align-items-center hovercard">
                <a class="text-decoration-none text-black d-flex justify-content-between w-100"
                    th:href="@{/admin/booklendings/{id}(id=${entry.key.id})}">
                    <span th:text="${entry.key.title}">Book Title</span>
                    <span class="badge rounded-pill"
                        th:classappend="${entry.value < 10} ? 'bg-primary' : ''"
                        th:if="${entry.value < 10}" th:text="${entry.value}">0</span>
                    <span class="badge rounded-pill"
                        th:classappend="${entry.value >= 10 && entry.value < 50} ? 'bg-danger' : ''"
                        th:if="${entry.value >= 10 && entry.value < 50}"
                        th:text="${entry.value}">0</span>
                    <span class="badge rounded-pill"
                        th:classappend="${entry.value >= 50} ? 'bg-warning' : ''"
                        th:if="${entry.value >= 50}" th:text="${entry.value}">0</span>
                </a>
            </li>
        </ul>

    </div>
</body>
<script>
    function searchBook() {
        var searchInput = document.getElementById('book_search_input').value;
        if (searchInput.trim() === "") {
            window.location.href = '/admin/lendings';
        } else {
            window.location.href = '/admin/lendings/' + searchInput;
        }
    }

    document.getElementById('btn_search_book').addEventListener('click', searchBook);

    document.getElementById('book_search_input').addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
            searchBook();
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script>
    new DataTable('#usersTable', {
        lengthMenu: [5, 10, 25, 50, 100],
        responsive: true
    });
</script>
</html>