<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments :: head}"></head>

<body>
    <header th:replace="~{fragments :: navbar}"></header>
    <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2215x2048/5fa9c73355b096b1e1786af0510a6fc4/photo-1481627834876-b7833e8f5570.webp"
        alt="Image" class="img-fluid w-100" style="height: 25vh; object-fit: cover;">
    <div class="container text-center mt-5">
        <div class="alert alert-info" th:if= "${success != null}" th:text="${success}"></div>
        <h1 style="color: rgb(103, 75, 29);">Users</h1>
        <hr class="border-black border-2">
        <div class="table-responsive">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Activated</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td class="align-content-center" th:text="${user.name}"></td>
                        <td class="align-content-center" th:text="${user.surname}"></td>
                        <td class="align-content-center" th:text="${user.email}"></td>
                        <td class="align-content-center" th:text="${user.role}"></td>
                        <td class="align-content-center" th:text="${user.activated ? '✔' : '✘'}"></td>
                        <td class="align-content-center">
                            <a th:href="@{/admin/users/toggleactivation/{id}(id=${user.id})}" class="text-decoration-none">
                                <i class="fa-solid fa-toggle-on d-inline me-3" style="color: #FFD43B;"></i>
                            </a>
                            <a th:href="@{/admin/users/delete/{id}(id=${user.id})}" class="text-decoration-none">
                                <i class="fa-solid fa-trash-can d-inline" style="color: #fd3535;"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination d-flex justify-content-center mt-4">
                <a class="btn btn-primary mx-2" th:if="${page > 0}" th:href="@{/admin/users(page=${page - 1})}">&laquo; Previous</a>
                <span class="mx-2 fs-4" th:text="${page + 1}">1</span>
                <a class="btn btn-primary mx-2" th:if="${page < totalPages - 1}" th:href="@{/admin/users(page=${page + 1})}">Next &raquo;</a>
            </div>
        </div>
    </div>
</body>

</html>