<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{icon/favicon.ico}">
    <script src="https://kit.fontawesome.com/39fe04e284.js" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <title>Libridex</title>

    <style>
        .card {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>

<body>
    <header th:replace="~{fragments :: navbar}"></header>
    <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2215x2048/5fa9c73355b096b1e1786af0510a6fc4/photo-1481627834876-b7833e8f5570.webp"
        alt="Image" class="img-fluid w-100 object-fit-cover" style="height: 7vh;">

    <h1 class="display-1 text-center" style="color: rgb(103, 75, 29);">Admin Menu</h1>
    <hr class="border-black border-2">

    <div class="container text-center mt-4 mb-5">
        <div class="row justify-content-center gap-3">

            <!-- BOOKS CARD -->
            <div class="col-md-3">
                <div class="card border-3 p-0 overflow-hidden h-auto w-100">
                    <a th:href="@{/admin/books}" class="text-decoration-none">
                        <img src="https://imageio.forbes.com/specials-images/imageserve/66cc9d9ffc537cb99b7a3440/0x0.jpg?format=jpg&crop=1884,1256,x0,y0,safe&height=600&width=1200&fit=bounds"
                            class="card-img-top w-100 object-fit-cover" style="height: 25vh;" alt="Books">
                        <div class="card-body text-center" style="padding: 10px;">
                            <h3 class="card-title text-black">Books</h3>
                        </div>
                    </a>
                </div>
            </div>

            <!-- USERS CARD -->
            <div class="col-md-3">
                <div class="card border-3 p-0 overflow-hidden h-auto w-100">
                    <a th:href="@{/admin/users}" class="text-decoration-none">
                        <img src="https://t4.ftcdn.net/jpg/02/50/23/29/360_F_250232932_MnAM3LqScjM6gIc9jb1BG44aXq8erWs3.jpg"
                            class="card-img-top w-100 object-fit-contain" style="height: 25vh;" alt="Users">
                        <div class="card-body text-center" style="padding: 10px;">
                            <h3 class="card-title text-black">Users</h3>
                        </div>
                    </a>
                </div>
            </div>

            <!-- RESERVATIONS CARD -->
            <div class="col-md-3">
                <div class="card border-3 p-0 overflow-hidden h-auto w-100">
                    <a th:href="@{/admin/reservations}" class="text-decoration-none">
                        <img src="https://www.shutterstock.com/image-vector/calendar-icon-red-circle-mark-600nw-1385293412.jpg"
                            class="card-img-top w-100 object-fit-cover" style="height: 25vh;" alt="Reservations">
                        <div class="card-body text-center" style="padding: 10px;">
                            <h3 class="card-title text-black">Reservations</h3>
                        </div>
                    </a>
                </div>
            </div>

            <!-- LENDINGS CARD -->
            <div class="col-md-3">
                <div class="card border-3 p-0 overflow-hidden h-auto w-100">
                    <a th:href="@{/admin/lendings}" class="text-decoration-none">
                        <img src="https://149349728.v2.pressablecdn.com/wp-content/uploads/2018/04/1*uESvi5h180WX9mW2D251dQ.jpeg"
                            class="card-img-top w-100 object-fit-cover" style="height: 25vh;" alt="Lendings">
                        <div class="card-body text-center" style="padding: 10px;">
                            <h3 class="card-title text-black">Lendings</h3>
                        </div>
                    </a>
                </div>
            </div>

            <!-- STATISTICS CARD -->
            <div class="col-md-3">
                <div class="card border-3 p-0 overflow-hidden h-auto w-100">
                    <a th:href="@{/admin/statistics}" class="text-decoration-none">
                        <img src="https://images.pexels.com/photos/265087/pexels-photo-265087.jpeg"
                            class="card-img-top w-100 object-fit-cover" style="height: 25vh;" alt="Statistics">
                        <div class="card-body text-center" style="padding: 10px;">
                            <h3 class="card-title text-black">Statistics</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>
</body>

</html>